
@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-VariableFont-wght.ttf') format('truetype')
  }
  
  
  
  :root {
  
    /* --f7-font-size: 16px; */
    --f7-font-family: 'Quicksand', sans-serif;
  
    --f7-fab-extended-text-font-weight: 700;
  
    --f7-input-height: 32px;
  
  
    --f7-panel-bg-color: #1c1c1d;
    /* --f7-page-bg-color: #aaa9af;  */

  
    --f7-input-font-size: 18px;
    --f7-input-outline-focused-border-color: #000000;
    --f7-input-focused-border-color: #00338e;
  
    --f7-label-focused-text-color: #00338e;
    --f7-label-text-color:#000000;
    --f7-label-font-weight: 700;
    --f7-label-font-size: 14px;
    --f7-label-line-height: 20px;
    --f7-label-text-decoration: underline;
  
  
    --f7-block-font-size: 23px;
    
    --f7-block-title-font-size: 19px;
    --f7-block-title-line-height: 23px;
    --f7-block-title-font-weight: bold;
    --f7-block-title-text-color: rgba(0,0,0, 0.84);
    --f7-block-strong-bg-color: #ffffff;
    --f7-list-bg-color: #ffffff;
    
    --f7-navbar-title-font-weight: 700;
    --f7-navbar-bg-color: var(--f7-panel-bg-color);
    --f7-navbar-text-color: #ffffff;
  
    --f7-list-item-title-text-color: #00338e;
    --f7-list-item-title-font-weight:700;
  
    --f7-input-invalid-border-color: #ff0000;
    --f7-input-error-text-color: #ff0000;
    
  }
  

.page-content {
    background-color: rgb(238, 240, 243);
}



.center {
    margin: 0 auto;
}



.author-header{
  width: 100%;
  font-size: 14px;
}

.author-header .name {
  margin-bottom: 3px;
}

.author-avatar {
  margin-top: -4px;
  width: 25px;
  height: 25px;
  font-size: 20px;
  float: left;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 3px;    
}

.author-avatar img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}

.author .avatar i {
  float: left;
}





  /* Style the list */
  ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    font-weight: bold;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }




  